#footer{
    margin-top: 10px;
    padding: 10px;
    color: #fff;
    background: #333;
    bottom: 0;
    position: fixed;
    clear: both;
    width: 100%;
}

.cir {
    text-align: center;
}

.rounded-circle {
    border: 4px dashed gray;
}

body {
    background-image: linear-gradient(to right, lightgrey, white);
}

.gif {
    text-align: center;
}

.right {
    text-align: right;
}

p {
    font-style: italic;
    font-size: 20px;
}

#board {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    background-color: darkgray;
    padding: 25px;
    height: 95%;
}
