#litera {
    position: relative;
    display: block;
}

.stm {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 150;
    stroke-dashoffset: 150;
    animation: dash 15s linear forwards;
    fill:none;
    stroke-miterlimit:10;
}

.sts {
  stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 200;
    stroke-dashoffset: 200;
    animation: dash 15s linear forwards;
    fill:none;
    stroke-miterlimit:10;
    animation-delay: 3s;
}

.std {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation: dash 15s linear forwards;
    fill:none;
    stroke-miterlimit:10;
    animation-delay: 6s;
}

.stl {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 470;
    stroke-dashoffset: 470;
    animation: dash 15s linear forwards;
    fill:none;
    stroke-miterlimit:10;
    animation-delay: 9s;
}

.stdd {
    stroke: #000;
    stroke-width: 1px;
    stroke-dasharray: 570;
    stroke-dashoffset: 570;
    animation: dash 15s linear forwards;
    fill:none;
    stroke-miterlimit:10;
    animation-delay: 12s;
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
    }
}


