<template>
    <div class="row">

        <div class="col-6">
            <h3>Ułóż słowo</h3>

            <draggable class="list-group" :list="list1" group="people" @change="log"  id="board">
                <div
                    class="list-group-item"
                    v-for="(element, index) in list1"
                    :key="element.name"
                >
                    <img :src="'/img/screenyHiragana/'+element.name" alt="" class="img-fluid">
                    <input type="hidden" :name="'answer['+word_id+'][]'" :value="element.id" />
                </div>
            </draggable>
        </div>


        <div class="col-6">
            <h3>Litery</h3>
            <draggable class="list-group" :list="list2" group="people" @change="log">
                <div
                    class="list-group-item"
                    v-for="(element, index) in list2"
                    :key="element.name"
                >
                    <img :src="'/img/screenyHiragana/'+element.name" alt="" class="img-fluid">
                </div>
            </draggable>
        </div>

    </div>
</template>

<script>

    import draggable from 'vuedraggable';

    export default {
        name: "drag",
        components: {
          draggable
        },
        props: [
            'word_id',
            'position'
        ],
        order: 1,
        data() {
            return {
                list1: [

                ],
                list2: [
                ]
            };
        },

        mounted(){
          let that = this ;
          axios.get('/letter/'+ this.word_id).then( function (response) {
              console.log(response);

              that.list2 = response.data;
          })
        },

        methods: {
            add: function() {
                this.list.push({ name: "Juan" });
            },
            replace: function() {
                this.list = [{ name: "Edgard" }];
            },
            clone: function(el) {
                return {
                    name: el.name + " cloned"
                };
            },
            log: function(evt) {
                window.console.log(evt);
            }
        }
    };
</script>
