#footer {
  margin-top: 10px;
  padding: 10px;
  color: #fff;
  background: #333;
  bottom: 0;
  position: fixed;
  clear: both;
  width: 100%;
}

.cir {
  text-align: center;
}

.rounded-circle {
  border: 4px dashed gray;
}

body {
  background-image: -webkit-gradient(linear, left top, right top, from(lightgrey), to(white));
  background-image: linear-gradient(to right, lightgrey, white);
}

.gif {
  text-align: center;
}

.right {
  text-align: right;
}

p {
  font-style: italic;
  font-size: 20px;
}

#board {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
          flex-direction: column;
  width: 100%;
  max-width: 300px;
  background-color: darkgray;
  padding: 25px;
  height: 95%;
}

#litera {
  position: relative;
  display: block;
}

.stm {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 150;
  stroke-dashoffset: 150;
  -webkit-animation: dash 15s linear forwards;
          animation: dash 15s linear forwards;
  fill: none;
  stroke-miterlimit: 10;
}

.sts {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 200;
  stroke-dashoffset: 200;
  -webkit-animation: dash 15s linear forwards;
          animation: dash 15s linear forwards;
  fill: none;
  stroke-miterlimit: 10;
  -webkit-animation-delay: 3s;
          animation-delay: 3s;
}

.std {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  -webkit-animation: dash 15s linear forwards;
          animation: dash 15s linear forwards;
  fill: none;
  stroke-miterlimit: 10;
  -webkit-animation-delay: 6s;
          animation-delay: 6s;
}

.stl {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 470;
  stroke-dashoffset: 470;
  -webkit-animation: dash 15s linear forwards;
          animation: dash 15s linear forwards;
  fill: none;
  stroke-miterlimit: 10;
  -webkit-animation-delay: 9s;
          animation-delay: 9s;
}

.stdd {
  stroke: #000;
  stroke-width: 1px;
  stroke-dasharray: 570;
  stroke-dashoffset: 570;
  -webkit-animation: dash 15s linear forwards;
          animation: dash 15s linear forwards;
  fill: none;
  stroke-miterlimit: 10;
  -webkit-animation-delay: 12s;
          animation-delay: 12s;
}

@-webkit-keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

